<link rel="stylesheet" href="/css/header.css">
<header class="navHeader">
    <a href="/issueTracker" class="display-6 headerSpan" 
    style="color: #fff; /* Text color */
    text-shadow: 0 0 10px #fff, /* Glow color as white */
                 0 0 20px #fff,
                 0 0 30px #fff;"> 
        <i class="fa-solid fa-magnifying-glass" style="color: #fff; /* Text color */
        text-shadow: 0 0 10px #fff, /* Glow color as white */
                     0 0 20px #fff,
                     0 0 30px #fff;"></i> Issue Tracker</a>
    <a href="/issueTracker/projectDetails" class="btn btn-light mx-5" style="color: dodgerblue" >Project Details</a>
</header>