<link rel="stylesheet" href="/css/createProject.css">

<section class="createProjectSection">
    <form class="createProjectForm" action="/issueTracker/addProject" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label" style="font-weight: 600;">Project Name</label>
            <input type="text" name="projectName" class="form-control" id="exampleFormControlInput1" placeholder="Enter Project Name">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label" style="font-weight: 600;">Description</label>
            <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Description"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"style="font-weight: 600;">Author Name</label>
            <input type="text" name="authorName" class="form-control" id="exampleFormControlInput1" placeholder="Enter Author Name">
        </div>
        <button type="submit" class="btn btn-primary w-100 my-3">Create Project</button>
    </form>
</section>