.createProjectSection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(147, 255, 179);
    padding: 25px 0;
}

.createProjectForm {
    min-width: 500px;
}